
extends: eslint:recommended

parser: babel-eslint

env:
  browser: true
  es6: true
  node: true

parserOptions:
  ecmaVersion: 6
  sourceType: module
  emcaFeatures:
    jsx: true
    experimentalObjectRestSpread: true

plugins: [ react ]

# The first option to a rule is the error level.
# 0 - Ignore rule
# 1 - Warn
# 2 - Error
rules:
  indent: [2, 2]
  quotes: [1, single]
  semi: [2, never]
  react/jsx-no-undef: 1
  react/jsx-uses-react: 1
  react/jsx-uses-vars: 1
